* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #274c77;
  --background-color: #e7ecef;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 600px;
}

.cabecalho {
  background-color: #75abcf;
  border-bottom: 1px solid #274c77;
  padding: 20px;
}

.titulo {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 15px;
  color: #274c77;
}

.configuracoes {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.configuracoes label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.configuracoes input,
.configuracoes select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e7ecef;
  font-size: 16px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  background-color: #aecae2;
  padding: 20px;
  justify-content: center;
}

.formulario-pergunta {
  margin-bottom: 10px;
}

.formulario-pergunta label {
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

#char-count {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
  display: block;
  text-align: right;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  background-color: #e7ecef;
  font-size: 16px;
}

#btn-perguntar {
  background-color: #274c77;
  color: #e7ecef;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#btn-perguntar .fas {
  font-size: 18px;
}

#btn-perguntar:hover {
  background-color: #19324f;
}

#btn-perguntar:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  background-color: #274c77;
}

#container-resposta {
  display: none;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}

.resposta-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.resposta-header h4 {
  font-size: 18px;
  color: var(--text-color);
}

#btn-copiar {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  padding: 5px;
}

#btn-copiar:hover {
  color: #000;
}

#feedback-erro {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}
